*, *:before, *:after { margin: 0; padding: 0; }
body { box-sizing: border-box; font-weight: 400; }

h1 { font-size: 1.75em; font-weight: 400; }
h2 { font-size: 1.5em; }
h3 { font-size: 1.3em; }
h4 { font-size: 1.1em; }
p, a, input, li { font-size: 1em; }

a { color: #777; text-decoration: none; }
li { list-style: none; border: none; }

.wrapper-section { width: 100%; }
.wrapper-section:after, .cf:after { content: ''; display: block; clear: both; }
.wrapper-content:after { content: ''; display: block; clear: both; }

.wrapper-content { max-width: 960px; margin: 0 auto; position: relative; }

nav, section, aside, article, footer { box-sizing: border-box; }

/* fixed navigation bar */

.wrapper-section.nav-section { background: url(img/city_1825x950.jpg) center center no-repeat; background-size: cover; }

.nav-section { background-color: rgba(0,0,0,.2); color: #fff; }

.nav-infobar > a { color: #fff; display: inline-block; padding: 4px 12px 4px 4px; }
.nav-infobar > a:nth-child(1n + 2) { background-color: #ea0606; float: right; padding-left: 12px; text-transform: uppercase; }
.nav-infobar ~ hr { display: block; border: 1px solid rgba(69, 69, 69, 0.52); margin-top: 1em; }

/*  logo   */

.logo { margin-top: 10px; position: relative; width: 180px; }
.logo i { font-size: 2.75em; position: absolute; }
.logo span:first-of-type { background-color: rgba(31, 31, 31, 1); border-radius: 50px; display: block; height: 27px; position: absolute; left: 18px; width: 32px; }
.logo h1 { color: rgb(234, 6, 6); left: 24px; position: absolute; }
.logo span:last-of-type { font-size: .8em; left: 78px; position: absolute; top: 27px; }

/*  nav-hero  */

.hero { position: relative; }

.nav-hero > ul { float: right; line-height: 60px; }
.nav-hero > ul > li { display: block; float: left; position: relative; }
.nav-hero > ul > li > a { color: #fff; padding: 6px 12px; transition: background-color .6s; }

.nav-hero > ul > li > a:hover { background-color: #ea0606; }

.hero div:nth-child(2) { box-sizing: border-box; float: left; width: 50%; }
.hero div:nth-child(3) { background-color: rgba(0,0,0,0.6); box-sizing: border-box; margin: 60px 3% 60px 0; padding: 1em 1.5em; float: right; width: 37%; }

.hero div > h2 { background-color: rgba(0,0,0,0.6); font-weight: 300; line-height: 1.3em; letter-spacing: .05em; margin: 120px 105px 45px 0; padding: 16px; text-transform: uppercase; }
.hero div > a.btn { display: block; color: #ea0606; background-color: #111; margin: 0 0 140px 10px; padding: 8px 24px; text-transform: uppercase; width: 25%; }

.hero div > p { font-size: 1.2em; font-weight: 700; line-height: 1.5em; letter-spacing: .02em; padding: .75em 0 1em; text-align: left; text-transform: uppercase; }

.hero .btn-step { background-color: #6d6d6d; border-right: none; box-sizing: border-box; color: #fff; float: left; font-size: .8em; line-height: 2em; position: relative; padding: 2px 2px 2px 16px; text-transform: uppercase; width: 29.5%; }
.hero .step a:before { border-left: 12px solid #ea0606; border-top: 13px solid transparent; border-bottom: 13px solid transparent; content: '';  display: block; position: absolute; left: 100%; z-index: 3; }

.hero .step li:first-of-type > a:first-of-type { background-color: #ea0606; }
.hero .step li:nth-of-type(2) > a:first-of-type:before { border-left: 12px solid #6d6d6d; border-top: 13px solid transparent; border-bottom: 13px solid transparent; }
.hero .step li:nth-of-type(3) > a:first-of-type:before { border-left: 12px solid #6d6d6d; border-top: 13px solid transparent; border-bottom: 13px solid transparent; }

.hero .step { padding-bottom: 16px; }
.hero div hr { display: block; border: 1px solid rgba(203, 195, 195, 0.5); margin-top: 1em; }

.hero div p ~ p { font-size: .8em; font-weight: 300; letter-spacing: 0.12em; padding-bottom: 2em; text-align: center; text-shadow: 2px 4px 5px #454040; }

.hero div form { font-size: .7em; padding-bottom: 2.5em; text-align: left; text-transform: uppercase; }
.hero div label { margin-right: 10px; }
input[type="checkbox"] { opacity: 0.5; margin: 0 6px 0 0; vertical-align: middle; }

.get-registered { box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.6); text-align: center; }
.hero form + button { background: #ea0606; border: none; margin: 24px auto; text-align: center; padding: 8px 32px; text-transform: uppercase; box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.6); }

/*  about   */

.about ul { width: 100%; }
.about li { float: left; padding: 12px 0; text-align: center; width: 25%; }
.about img { height: 74px; width: auto; }

/*  video   */

.welcome { color: #555; font-weight: 300; padding: 32px 0; }
.welcome video { box-sizing: border-box; padding: 0 32px; height: 260px; width: 50%; object-fit: fill;  }
.welcome div { width: 50%; float: right; }

.welcome h2 { padding-bottom: 1em; text-align: center; letter-spacing: .03em; text-transform: uppercase;}
.welcome p { font-size: .9em; line-height: 1.6em; }
.welcome p:nth-child(4) { padding: 16px 0; }
.welcome a { background-color: #ea0606; color: #fff; display: inline-block; padding: 12px ; text-align: center; text-transform: uppercase; width: 50%; }


/*  choose  */

.wrapper-section.choose {
	position: relative;
} 

.wrapper-section.overlay {
	background: linear-gradient(to bottom, rgba(0,0,0,.6) 0%, rgba(55,55,55, .4) 100%), linear-gradient(to top, rgba(0,0,0,.6), rgba(55,55,55, .4)), url(img/business.jpg);
	background-size: contain;
	position: absolute;
	height: 100%;
	width: 100%;
	-webkit-filter: blur(3px);
	 -moz-filter: blur(2px);
		 -o-filter: blur(2px);
		-ms-filter: blur(2px);
        filter: blur(2px);
}

.choose {
	color: #fff;
}

.choose h2 {
	font-weight: 300;
	letter-spacing: .04em;
	padding-top: 1.5em;
	padding-bottom: .4em;
	text-align: center;
	text-transform: uppercase;
}

.choose h2 + p {
	font-size: .8em;
	text-align: center;
}

.choose h3 {
	font-size: .9em;
}

.choose-row {
	display: block;
	font-weight: 300;
	margin-bottom: 1em;
	padding-top: 2em;
	width: 100%;
}

.choose-row p,
.choose-middle-row-2 p,
.choose-middle-row-3 p {
	display: inline-block;
	font-size: .7em;
	padding-top: .5em;
	vertical-align: middle;
}

.col-2 { display: block; float: left; width: 16.66%; }
.col-2r { display: block; float: right; width: 16.66%; }

.heading-left {
	text-align: right;
}

.heading-right {
	text-align: left;
}

.choose-middle-row-1,
.choose-middle-row-2,
.choose-middle-row-3 {
	display: block;
	position: relative;
	min-height: 80px;
}

.choose-middle-row-1 .fa-group,
.choose-middle-row-1 .fa-money,
.choose-middle-row-2 .fa-shield,
.choose-middle-row-2 .fa-certificate,
.choose-middle-row-3 .fa-database,
.choose-middle-row-3 .fa-file-o {
	position: absolute;
	font-size: 2em;
	border: 2px solid #3e3ecb;
	border-radius: 50%;
	line-height: 60px;
	margin: 0 10px;
	text-align: center;
	height: 60px;
	width: 60px;
}

.choose-middle-row-1 span,
.choose-middle-row-2 span,
.choose-middle-row-3 span {
	display: inline-block;
	font-size: 1em;
	position: absolute;
	top: 22.5%;
	left: 25%;
	z-index: 1;
}

.choose-middle-row-1 .horizontal-left {
	position: absolute;
	top: 35%;
	left: 25.5%;
	width: 5%;
}

.choose-middle-row-1 .horizontal-left-45 {
	position: absolute;
	top: 34.5%;
	left: 30.75%;
	transform: rotate(35deg);
	transform-origin: 0 50%;
	width: 7.5%;
}

.choose-middle-row-1 .horizontal-right-45 {
	position: absolute;
	top: 40.5%;
	left: 68.25%;
	transform: rotate(-35deg) rotate(180deg);
	transform-origin: 3% 50%;
	width: 7.5%;
}

.choose-middle-row-1 .horizontal-right {
	position: absolute;
	top: 39%;
	left: 68.5%;
	width: 5%;
}

.choose-middle-row-1 .fa-money,
.choose-middle-row-2 .fa-certificate,
.choose-middle-row-3 .fa-file-o {
	left: 74.5%
}

.choose-middle-row-1 .last-dot {
	position: absolute;
	top: 25.5%;
	left: 73.5%;
}

/*  choose middle row 2 */

.choose-row-2 {
	padding-top: .75em;
	font-weight: 300;
	width: 100%;
}

.choose-middle-row-2 .horizontal-left {
	position: absolute;
	top: 34%;
	left: 25.5%;
	width: 11.5%;
}

.choose-middle-row-2 .horizontal-right {
	position: absolute;
	top: 34%;
	left: 62.5%;
	width: 11.5%;
}

.choose-middle-row-2 .last-dot-2 {
	left: 73.5%;
}

.choose-middle-row-2 .logo {
	display: inline-block;
	position: relative;
	vertical-align: top;
	top: -6px;;
	left: 24%;
}

.choose-middle-row-2 .logo h1 {
	color: #fff;
	z-index: 1;
}

/*choose middle row 3 */

.choose-row-3 {
	display: block;
	font-weight: 300;
	margin-bottom: 2em;
	padding-top: 2em;
	padding-bottom: 2.75em;
	width: 100%;
}

.choose-middle-row-3 .horizontal-left {
	position: absolute;
	top: 34%;
	left: 25.75%;
	width: 5%;
}

.choose-middle-row-3 .horizontal-right {
	position: absolute;
	top: 34%;
	left: 69%;
	width: 5%;
}

.choose-middle-row-3 .last-dot-2 {
	left: 73.5%;
}

.choose-middle-row-3 .horizontal-left-45 {
	position: absolute;
	top: 34.5%;
	left: 22%;
	transform: rotate(135deg);
	transform-origin: 100% 50%;
	width: 8.5%;
}

.choose-middle-row-3 .horizontal-right-45 {
	position: absolute;
	top: 41.75%;
	left: 70.25%;
	transform: rotate(135deg) rotate(90deg);
	transform-origin: -8% 2.5%;
	width: 8.5%;
}

/* offer section */

.offer h2 {
	text-transform: uppercase;
}

.offer h2,
.offer h2 + p {
	text-align: center;
}

.offer h2 + p {
	font-size: .9em;
	margin: 1em 0;
}

.offer article {
	float: left;
	padding: 20px 20px 4em;
	width: 33.33%;
}

.offer article > span {
	border: 1px solid rgba(109, 109, 109, 0.6);
	box-sizing: border-box;
	display: block;
	line-height: 200px;
	height: 200px;
	width: 100%;
	text-align: center;
}

.offer img {
	vertical-align: middle;
	width: 65%;
}

.offer article h3 {
	border-right: 1px solid rgba(109, 109, 109, 0.6);
	border-left:  1px solid rgba(109, 109, 109, 0.6);
	font-size: .9em;
	font-weight: 700;
	color: red;
	padding: 1.5em .5em;
	text-transform: uppercase;
}

.offer article h3:after {
	content: '';
	border-bottom: 1px solid red;
	display: block;
	margin-top: .5em;
	width: 10%;
}

.offer article p {
	border-right: 1px solid rgba(109, 109, 109, 0.6);
	border-left:  1px solid rgba(109, 109, 109, 0.6);
	border-bottom:  1px solid rgba(109, 109, 109, 0.6);
	font-size: .8em;
	padding: 0 4px;
}

.offer .btn-register {
	border-right: 1px solid rgba(109, 109, 109, 0.6);
	border-left:  1px solid rgba(109, 109, 109, 0.6);
	border-bottom:  1px solid rgba(109, 109, 109, 0.6);
	display: block;
	padding: 4px 4px;
}

.offer a {
	color: rgba(109, 109, 109, 0.9);
	font-size: .8em;
	font-weight: 700;
	text-transform: uppercase;
}

.offer a:after {
	content: "\02c3";
	color: #fff;
	margin-left: 8px;
	padding: 4px 6px;
	background-color: rgba(17, 17, 17, 0.71);
}

/*  Our blog  */

.wrapper-section.blog {
	background: rgba(109, 109, 109, 0.1);
	padding-top: 2em;
	padding-bottom: 1.5em;
}

.our-blog div {
	box-sizing: border-box;
	float: left;
	padding: .75em;
	width: 33.33%;
}

.our-blog div:nth-child(2) {
	padding-top: 3.9em;
}

.our-blog h2 {
	color: rgba(109, 109, 109, 0.9);
	font-size: 1.3em;
	padding-bottom: 1.25em;
	text-transform: uppercase;
}

.our-blog img {
	height: 180px;
	width: 100%;
}

.our-blog div h3 {
	margin: -4px 0 .5em;
	font-size: .8em;
	line-height: 2.25em;
}

.our-blog span {
	background-color: red;
	color: #fff;
	border: none;
	display: block;
	font-size: .7em;
	float: right;
	line-height: 1em;;
	padding: 4px;
	text-transform: uppercase;
	text-align: center;
}

.our-blog p {
	color: #555;
	letter-spacing: .03em;
	line-height: 1.4em;
	font-size: .8em;
}

.our-blog div > a,
.our-blog aside > a:last-child {
	background-color: red;
	color: #fff;
	display: block;
	margin-top: 1.5em;
	margin-bottom: 1.4em;
	padding: 6px;
	text-align: center;
	text-transform: uppercase;
	width: 40%;
}

.our-blog aside {
	width: 33.33%;
	float: right;
	box-sizing: border-box;
	padding: .75em;
}

.our-blog aside img {
	box-sizing: border-box;
	height: 130px;
}


/*  info section  */

.info-section {
	background: linear-gradient(to bottom, rgba(0,0,0, .9) 0%, rgba(55,55,55, 1) 1000%);
}

.info-overlay {
	background: linear-gradient(to bottom, rgba(0,0,0, .9) 0%, rgba(55,55,55, 1) 1000%), url(img/world-map.png);
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
	position: absolute;
	height: 100%;
	width: 100%;
	z-index: 0;
}

.info {
	position: relative;
	z-index: 1;
}

.info aside {
	width: 25%;
	float: left;
	padding-top: 2em;
	padding-bottom: 4em;
}

.info .main-links h3,
.info .help h3,
.info .contact h3,
.info .subscribe h3 {
	border-bottom: 3px solid #555;
	color: #fff;
	font-size: .7em;
	font-weight: 300;
	letter-spacing: .05em;
	line-height: 2.3em;
	position: relative;
	margin-bottom: 1.2em;
	text-transform: uppercase;
	width: 75%;
}

.info .main-links h3:after,
.info .help h3:after,
.info .contact h3:after,
.info .subscribe h3:after {
	content: "";
	display: block;
	border: 1px solid red;
	position: absolute;
	width: 35%;
}

.info aside li {
	color: #fff;
	padding: .5em;
	font-size: .7em;
}

.info aside a {
	color: #fff;
}

.info .contact i {
	color: #111;
	background-color: #fff;
	height: 2em;
	width: 2em;
	line-height: 2em;
	margin-right: 1em;
	text-align: center;
	border-radius: 50px;
}

.subscribe p {
	color: #fff;
	font-size: .7em;
	width: 80%;
	margin-bottom: 1em;
}

.subscribe input {
	font-size: .7em;
	position: relative;
	margin-bottom: 2em;
	height: 34px;
	width: 90%;
}

.subscribe .fa-send-o {
	background-color: red;
	color: #fff;
	line-height: 32px;
	right: 20px;
	position: absolute;
	text-align: center;
	width: 34px;
	height: 36px;
}

.subscribe li {
	border: 1px solid red;
	line-height: 24px;
	float: left;
	text-align: center;
	transition: all .6s;
	width: 42px;
	height: 24px;
}

.subscribe li:hover {
	background: red;
}

.info .subscribe h3 {
	width: 90%;
}

/*  footer  */

footer p {
	line-height: 2.7em;
	font-size: .7em;
	text-align: center;
}

footer super {
	font-size: .4em;
	vertical-align: top;
}


/* btn */

.btn:hover {
	background: rgb(129, 7, 7)!important;
	transition: all .6s;
}






